<!-- public/views/home.html -->

<div class="row" ng-repeat="rows in displayableHosts">
  	<div class="col-md-4" ng-repeat="host in rows">
  		<div class="card">
            <div class="card-image" ng-class="host.status ? 'bg-success' : 'bg-danger'">
                <img class="img-responsive" src="img/server.png">
                <span class="card-title">{{host.status}}</span>
            </div>
            
            <div class="card-content">
                <p>Cards for display in portfolio style material design by Google.</p>
            </div>
            
            <div class="card-action">
                <a href="#" target="new_blank">Link</a>
                <a href="#" target="new_blank">Link</a>
                <a href="#" target="new_blank">Link</a>
                <a href="#" target="new_blank">Link</a>
                <a href="#" target="new_blank">Link</a>
            </div>
        </div>
    </div>
</div>