<!-- <button type="button" ng-click="addAlert()" class="btn btn-success">Success</button> -->
<div class="page-header">
  	<h1>Monitoring <small>{{ host.name }}</small></h1>
</div>
<div class="panel panel-default">
  	<div class="panel-heading">CPU</div>
  	<div class="panel-body">
    	<div class="row">
		  	<div class="col-md-4">
				<div class="text-center">
					<ui-knob value="liveCPU" options="liveCpuOptions"></ui-knob>
				</div>
		  	</div>
		  	<div class="col-md-8">
				<canvas id="line" class="chart chart-line" chart-data="data_cpu" chart-series="seriesCPU" chart-options="optionsCPUChart"></canvas>
		  	</div>
		</div>
  	</div>
</div>

<div class="panel panel-default">
  	<div class="panel-heading">Memory</div>
  	<div class="panel-body">
    	<div class="row">
		  	<div class="col-md-4">
				<div class="text-center">
					<ui-knob value="liveMemory" options="liveMemoryOptions"></ui-knob>
				</div>
		  	</div>
		  	<div class="col-md-8">
				<canvas id="line" class="chart chart-line" chart-data="data_memory" chart-series="seriesMemory" chart-options="optionsMemoryChart"></canvas>
		  	</div>
		</div>
  	</div>
</div>